{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="{% static 'departments/css/base.css' %}">
</head>
<body>
    <nav>
        <div class="logo">SimGroup</div>
        <div class="lista">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Workers</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="#">Machines</a></li>
                <li><a href="#">Issues</a></li>
            </ul>
        </div>
        <form action="{% url 'logout_view' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>  
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>